/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}

/* Button Styles */
.btn {
    background: #ff6565;
    color: white;
    padding: 13px 31px;
    border-radius: 30px;
    border: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.btn:hover {
    background: #a44040;
}

/* Header Styles */
.header {
    padding: 30px 200px;
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 114px;
}

.menu-btn {
    display: none;
}

/* Mobile Menu Styles */
@media (max-width: 480px) {
    .menu-btn {
        display: block;
    }
    .navbar-menu {
        display: none;
    }
    .menu-btn:checked ~ .navbar-menu {
        display: block;
    }
}

/* Main Content Styles */
.main-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 370px;
    text-align: center;
}

.main-part h2 {
    font-size: 32px;
    font-weight: bold;
}

.main-part .first {
    font-size: 16px;
    font-weight: bold;
}

.main-part div {
    margin: 40px 0;
}

.paragraph {
    font-size: 16px;
    color: #c9c9c9;
    width: 630px;
}

/* Responsive Styles */
@media (max-width: 767px) {
    .header {
        padding: 30px 66px;
    }
    .main-part {
        padding: 0 66px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 30px 20px;
        flex-direction: column;
    }
    .header-logo {
        margin-bottom: 20px;
    }
    .main-part {
        padding: 0 9px;
    }
}
